* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(253, 251, 251);
  border: 1px solid black;
}

header {
  border: 1px solid red;
}

main {
  border: 1px solid green;
}

aside {
  border: 1px solid blue;
}

footer {
  border: 1px solid yellow;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgba(0, 89, 255, 0.801);
}

table {
  border: 1px solid black;
  border-spacing: 0;
}

td {
  border: 1px solid black;
}
