* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
  border: 1px solid black;
}

header {
  border: 1px solid red;
}

main {
  border: 1px solid green;
}

article {
  border: 1px solid orangered;
}

aside {
  border: 1px solid blue;
}

footer {
  border: 1px solid yellow;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgba(0, 89, 255, 0.801);
}

table {
  border: 1px solid black;
  border-spacing: 0;
}

td {
  border: 1px solid black;
}

p {
  font-size: 1.1em;
  color: rgb(20, 18, 49);
  line-height: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

article , aside {
  max-width: 600px;
  display: inline-block;
}
